@use './../base' as *;

.modal-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: rgba($black, 0.4);
}

.modal {
  position: relative;
  top: rem(150px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  background-color: $white;
  &__title {
    margin-bottom: 33px;
    font-size: rem(20px);
    font-weight: 700;
  }
  @include mobile {
    padding: rem(24px);
    width: rem(397px);
  }
  @include desktop {
    padding: rem(50px);
    width: rem(505px);
  }
}

.input-wrapper {
  margin-bottom: rem(10px);
  input {
    padding: rem(15px);
    width: 100%;
    border: solid 1px $gray3;
    border-radius: rem(5px);
  }
  .error-message {
    margin-top: rem(10px);
    color: $red;
  }
}

.primary-button {
  background-color: $olive;
  border-radius: rem(5px);
  color: $white;
  font-weight: 700;
  border: none;
}

.submit-button {
  padding: rem(15px) 0;
  width: 100%;
}

.switch-auth-button {
  margin: 0 auto;
  margin-top: rem(50px);
  display: block;
  padding: rem(12px) rem(24px);
  border: 1px solid $gray1;
  border-radius: rem(30px);
  background-color: $white;
  color: $gray1;
}

.cancel-button {
  padding: rem(7px);
  position: absolute;
  background-color: $white;
  border: none;
  @include mobile {
    top: rem(17px);
    right: rem(17px);
  }
  @include desktop {
    top: rem(43px);
    right: rem(43px);
  }
}
