@use './../base' as *;
@use './../components' as *;

.container {
  @include boxSizeMax;
  @include flexbox($flex-wrap: wrap);
}

.header {
  width: 100%;
  @include flexbox($justify-content: space-between);
  margin: rem(40px) 0;

  &__logo {
    width: rem(256px);
    a > img {
      width: 100%;
    }
  }

  &__nav {
    button {
      border: 0;
      background-color: transparent;
    }
    .login,
    .new-review {
      padding: rem(6px) rem(27px);
      border: 2px solid $gray1;
      border-radius: rem(30px);
      margin-left: rem(20px);
    }
  }
}

.nav {
  width: 100%;
  margin: rem(30px) 0;

  &__list {
    @include flexbox;

    li {
      margin-right: rem(20px);
      padding: rem(8px);
    }
  }
  &__now {
    border-bottom: 3px solid $black;
  }
}

.review {
  @include desktop {
    padding-right: rem(20px);
    width: 80%;
    &__list {
      @include flexbox($justify-content: space-between, $flex-wrap: wrap);
    }
    &__card {
      width: 31%;
      height: rem(330px);
      border-radius: rem(10px);
      @include boxShadow;
      overflow: hidden;
      margin-bottom: rem(20px);
    }
  }

  @include mobile {
    // 모바일버전
  }
}

.review {
  &__img {
    width: 100%;
    height: 55%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__details {
    position: relative;
    background-color: $white;
    width: 100%;
    height: 45%;
    padding: rem(14px);
    @include flexbox($direction: column, $justify-content: space-between);

    .title {
      font-weight: 800;
      margin-bottom: rem(10px);
    }
    time {
      color: $gray2;
      font-size: rem(11px);
    }
    .author {
      font-size: rem(14px);
    }
  }
}

.likes {
  &__container {
    position: absolute;
    top: rem(10px);
    right: rem(10px);
  }
  &__button {
    border: 0;
    padding: 0;
    background-color: transparent;
    img {
      width: rem(25px);
    }
  }
}

.tags {
  width: 20%;
  border-radius: rem(10px);
  @include boxShadow;
  background-color: $white;
  padding: rem(30px) rem(16px);
  &__title {
    font-size: rem(25px);
    font-weight: 800;
    margin-bottom: rem(25px);
  }
  .tag {
    a {
      margin-bottom: rem(5px);
      background-color: rgba($olive, 0.3);
      padding: rem(10px);
      border-radius: rem(5px);
    }
  }
}
