@use './../base' as *;
@use './../components' as *;

.container {
  @include boxSizeMax;
  @include flexbox($flex-wrap: wrap, $align-items: flex-start);
  padding: rem(14px);
  overflow: hidden;
  min-width: rem(300px);
}

.likes {
  &__container {
    position: absolute;
    top: rem(10px);
    right: rem(10px);
  }
}
