@use './../base' as *;
@use './../components' as *;

.container {
  @include boxSizeMax;
  @include flexbox($flex-wrap: wrap);
  padding: rem(14px);
  overflow: hidden;
}

.likes {
  &__container {
    position: absolute;
    top: rem(10px);
    right: rem(10px);
  }
}
