<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>새 리뷰 올리기</title>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
  </head>
  <body>
    <div class="editor-container">
        <div class="form-wrapper">
          <div class="editor-form">
            <div class="editor-inner">
              <label for="title" class="a11y-hidden">제목 입력</label>
              <input name="title" id="title" class="editor-title" placeholder="제목을 입력하세요"></input>
              <div class="info">
                <div class="info__tag">
                  <ul class="tag-list"></ul>
                  <label for="tag" class="a11y-hidden">태그 입력</label>
                  <input type="text" id="tag" class="editor-tag" placeholder="태그를 입력하세요"/>
                </div>
                <div class="info__rater"></div>
                <div class="info__thumbnail">
                  <img class="img-thumbnail" src="../images/default.svg" alt="썸네일"></img>
                  <label for="thumbnail" class="a11y-hidden">썸네일 입력</label>
                  <input type="file" id="thumbnail" class="editor-thumbnail hidden" accept="image/png, image/jpeg">
                </div>
              </div>
              <div id="quill" class="quill"></div>
            </div>
            <div class="buttons-wrapper">
              <button type="button" class="exit">
              <img src="../images/Arrow.svg" alt="exit">
                나가기
              </button>
              <button type="submit" class="submit">올리기</button>
            </div>
          </form>
        </div>
    </div>
  </body>
</html>
