<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Review You</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="header__logo">
          <h1 class="a11y-hidden">All Review You</h1>
          <a href="./index.html"><img src="../images/logo.png" class="logo" aria-hidden="true" /></a>
        </div>

        <div class="header__user-service">
          <h2 class="a11y-hidden">사용자 서비스</h2>
          <a href="./search.html"><img src="../images/search.svg" alt="" /></a>
          <button class="login"><img src="../images/login.svg" alt="로그인" /></button>
          <button class="logout hidden"><img src="../images/logout.svg" alt="로그아웃" /></button>
          <a class="my-page hidden"><img src="../images/mypage.svg" alt="마이 페이지" /></a>
          <a class="new-review hidden"><img src="../images/newReview.svg" alt="새 리뷰 올리기" /></a>
        </div>
      </header>

      <nav class="nav">
        <h2 class="a11y-hidden">메뉴</h2>
        <ul class="nav__list">
          <li class="nav__now"><a href="" type="button">좋아요순</a></li>
          <li><a href="" type="button">최신순</a></li>
        </ul>
      </nav>

      <main class="review-column">
        <h2 class="a11y-hidden">리뷰 리스트</h2>
        <ul class="review__list">
          <!-- <li class="review__card">
            <a href="#">
              <div class="review__img"><img src="../images/test.jpg" alt="" /></div>
              <div class="review__details">
                <h2 class="title">제목</h2>
                <span class="detail">설명글</span>
                <time datetime="2021-11-07">2021년 11월 07일</time>
                <span class="author">작성자 아이디</span>
                <div class="likes__container">
                  <span class="likes__count">20</span>
                  <button class="likes__button">
                    <img src="../images/like.png" class="likes-img" aria-hidden="true" />
                    <img src="../images/unlike.png" class="unlikes-img hidden" aria-hidden="true" />
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="review__card">
            <a href="#">
              <div class="review__img"><img src="../images/test.jpg" alt="" /></div>
              <div class="review__details">
                <h2 class="title">제목</h2>
                <span class="detail">설명글</span>
                <time datetime="2021-11-07">2021년 11월 07일</time>
                <span class="author">작성자 아이디</span>
                <div class="likes__container">
                  <span class="likes__count">20</span>
                  <button class="likes__button">
                    <img src="../images/like.png" class="likes-img" aria-hidden="true" />
                    <img src="../images/unlike.png" class="unlikes-img hidden" aria-hidden="true" />
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="review__card">
            <a href="#">
              <div class="review__img"><img src="../images/test.jpg" alt="" /></div>
              <div class="review__details">
                <h2 class="title">제목</h2>
                <span class="detail">설명글</span>
                <time datetime="2021-11-07">2021년 11월 07일</time>
                <span class="author">작성자 아이디</span>
                <div class="likes__container">
                  <span class="likes__count">20</span>
                  <button class="likes__button">
                    <img src="../images/like.png" class="likes-img" aria-hidden="true" />
                    <img src="../images/unlike.png" class="unlikes-img hidden" aria-hidden="true" />
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="review__card">
            <a href="#">
              <div class="review__img"><img src="../images/test.jpg" alt="" /></div>
              <div class="review__details">
                <h2 class="title">제목</h2>
                <span class="detail">설명글</span>
                <time datetime="2021-11-07">2021년 11월 07일</time>
                <span class="author">작성자 아이디</span>
                <div class="likes__container">
                  <span class="likes__count">20</span>
                  <button class="likes__button">
                    <img src="../images/like.png" class="likes-img" aria-hidden="true" />
                    <img src="../images/unlike.png" class="unlikes-img hidden" aria-hidden="true" />
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="review__card">
            <a href="#">
              <div class="review__img"><img src="../images/test.jpg" alt="" /></div>
              <div class="review__details">
                <h2 class="title">제목</h2>
                <span class="detail">설명글</span>
                <time datetime="2021-11-07">2021년 11월 07일</time>
                <span class="author">작성자 아이디</span>
                <div class="likes__container">
                  <span class="likes__count">20</span>
                  <button class="likes__button">
                    <img src="../images/like.png" class="likes-img" aria-hidden="true" />
                    <img src="../images/unlike.png" class="unlikes-img hidden" aria-hidden="true" />
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="review__card">
            <a href="#">
              <div class="review__img"><img src="../images/test.jpg" alt="" /></div>
              <div class="review__details">
                <h2 class="title">제목</h2>
                <span class="detail">설명글</span>
                <time datetime="2021-11-07">2021년 11월 07일</time>
                <span class="author">작성자 아이디</span>
                <div class="likes__container">
                  <span class="likes__count">20</span>
                  <button class="likes__button">
                    <img src="../images/like.png" class="likes-img" aria-hidden="true" />
                    <img src="../images/unlike.png" class="unlikes-img hidden" aria-hidden="true" />
                  </button>
                </div>
              </div>
            </a>
          </li> -->
        </ul>
      </main>

      <aside class="tags">
        <h2 class="tags__title">Tag List</h2>
        <ul class="tags__list">
          <li class="tag"><a href="" type="button">#곱창</a></li>
          <li class="tag"><a href="" type="button">#맛집</a></li>
          <li class="tag"><a href="" type="button">#강남역-맛집</a></li>
          <li class="tag"><a href="" type="button">#햄버거</a></li>
          <li class="tag"><a href="" type="button">#영화-추천</a></li>
          <li class="tag"><a href="" type="button">#아이폰</a></li>
        </ul>
      </aside>
      <div class="modal-container hidden">
        <div class="modal">
          <div class="signup-wrapper hidden">
            <h2 class="modal__title">회원가입</h2>
            <form class="signup__form" action="" method="post">
              <fieldset>
                <legend class="a11y-hidden">회원가입 정보</legend>
                <div class="input-wrapper">
                  <label class="a11y-hidden" for="signupId">아이디</label>
                  <input type="text" id="signupId" name="id" placeholder="아이디를 입력해주세요" />
                  <p class="error-message hidden">로그인 실패</p>
                </div>
                <div class="input-wrapper">
                  <label class="a11y-hidden" for="signupPassword">비밀번호</label>
                  <input
                    type="password"
                    id="signupPassword"
                    name="password"
                    placeholder="비밀번호를 입력해주세요"
                    autocomplete="on"
                  />
                  <p class="error-message hidden">로그인 실패</p>
                </div>
                <div class="input-wrapper">
                  <label class="a11y-hidden" for="repeatPassword">비밀번호 확인</label>
                  <input
                    type="password"
                    id="repeatPassword"
                    name="repeatPassworda"
                    placeholder="비밀번호를 한번 더 입력해주세요"
                    autocomplete="on"
                  />
                  <p class="error-message hidden">로그인 실패</p>
                </div>
                <button type="submit" class="primary-button submit-button">회원가입</button>
              </fieldset>
            </form>
          </div>
          <div class="signin-wrapper">
            <h2 class="modal__title">로그인</h2>
            <form class="signin__form" action="" method="post">
              <fieldset>
                <legend class="a11y-hidden">로그인 정보</legend>
                <div class="input-wrapper">
                  <label class="a11y-hidden" for="signinId">아이디</label>
                  <input type="text" id="sgininId" name="id" placeholder="아이디를 입력해주세요" />
                  <p class="error-message hidden">로그인 실패</p>
                </div>
                <div class="input-wrapper">
                  <label class="a11y-hidden" for="signinPassword">비밀번호</label>
                  <input
                    type="password"
                    id="signinPassword"
                    name="password"
                    placeholder="비밀번호를 입력해주세요"
                    autocomplete="on"
                  />
                  <p class="error-message hidden">로그인 실패</p>
                </div>
                <button type="submit" class="primary-button submit-button">로그인</button>
              </fieldset>
            </form>
          </div>
          <button class="switch-auth-button">회원가입 하러가기</button>
          <button class="cancel-button">X</button>
        </div>
      </div>
    </div>
  </body>
</html>
