<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Review You</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="header__logo">
          <h1 class="a11y-hidden">All Review You</h1>
          <a href="./index.html"><img src="../images/logo.png" class="logo" aria-hidden="true" /></a>
        </div>

        <div class="header__button-group">
          <h2 class="a11y-hidden">사용자 서비스</h2>
          <a href="./search.html" class="search"><img src="../images/search.svg" alt="" /></a>
          <button class="login hidden"><img src="../images/login.svg" alt="로그인" /></button>
          <button class="logout"><img src="../images/logout.svg" alt="로그아웃" /></button>
          <button class="my-page"><img src="../images/mypage.svg" alt="마이 페이지" /></button>
          <button class="new-review"><img src="../images/newReview.svg" alt="새 리뷰 올리기" /></button>
        </div>
      </header>

      <nav class="nav">
        <h2 class="a11y-hidden">메뉴</h2>
        <ul class="nav__list">
          <li class="nav__now"><a href="" type="button">좋아요순</a></li>
          <li><a href="" type="button">최신순</a></li>
        </ul>
      </nav>

      <main class="review">
        <h2 class="a11y-hidden">리뷰 리스트</h2>
        <ul class="review__list">
          <li class="review__card">
            <a href="#">
              <div class="review__img"><img src="../images/test.jpg" alt="" /></div>
              <div class="review__details">
                <h2 class="title">제목</h2>
                <span class="detail">설명글</span>
                <time datetime="2021-11-07">2021년 11월 07일</time>
                <span class="author">작성자 아이디</span>
                <div class="likes__container">
                  <span class="likes__count">20</span>
                  <button class="likes__button">
                    <img src="../images/like.png" class="likes-img" aria-hidden="true" />
                    <img src="../images/unlike.png" class="unlikes-img hidden" aria-hidden="true" />
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="review__card">
            <a href="#">
              <div class="review__img"><img src="../images/test.jpg" alt="" /></div>
              <div class="review__details">
                <h2 class="title">제목</h2>
                <span class="detail">설명글</span>
                <time datetime="2021-11-07">2021년 11월 07일</time>
                <span class="author">작성자 아이디</span>
                <div class="likes__container">
                  <span class="likes__count">20</span>
                  <button class="likes__button">
                    <img src="../images/like.png" class="likes-img" aria-hidden="true" />
                    <img src="../images/unlike.png" class="unlikes-img hidden" aria-hidden="true" />
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="review__card">
            <a href="#">
              <div class="review__img"><img src="../images/test.jpg" alt="" /></div>
              <div class="review__details">
                <h2 class="title">제목</h2>
                <span class="detail">설명글</span>
                <time datetime="2021-11-07">2021년 11월 07일</time>
                <span class="author">작성자 아이디</span>
                <div class="likes__container">
                  <span class="likes__count">20</span>
                  <button class="likes__button">
                    <img src="../images/like.png" class="likes-img" aria-hidden="true" />
                    <img src="../images/unlike.png" class="unlikes-img hidden" aria-hidden="true" />
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="review__card">
            <a href="#">
              <div class="review__img"><img src="../images/test.jpg" alt="" /></div>
              <div class="review__details">
                <h2 class="title">제목</h2>
                <span class="detail">설명글</span>
                <time datetime="2021-11-07">2021년 11월 07일</time>
                <span class="author">작성자 아이디</span>
                <div class="likes__container">
                  <span class="likes__count">20</span>
                  <button class="likes__button">
                    <img src="../images/like.png" class="likes-img" aria-hidden="true" />
                    <img src="../images/unlike.png" class="unlikes-img hidden" aria-hidden="true" />
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="review__card">
            <a href="#">
              <div class="review__img"><img src="../images/test.jpg" alt="" /></div>
              <div class="review__details">
                <h2 class="title">제목</h2>
                <span class="detail">설명글</span>
                <time datetime="2021-11-07">2021년 11월 07일</time>
                <span class="author">작성자 아이디</span>
                <div class="likes__container">
                  <span class="likes__count">20</span>
                  <button class="likes__button">
                    <img src="../images/like.png" class="likes-img" aria-hidden="true" />
                    <img src="../images/unlike.png" class="unlikes-img hidden" aria-hidden="true" />
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="review__card">
            <a href="#">
              <div class="review__img"><img src="../images/test.jpg" alt="" /></div>
              <div class="review__details">
                <h2 class="title">제목</h2>
                <span class="detail">설명글</span>
                <time datetime="2021-11-07">2021년 11월 07일</time>
                <span class="author">작성자 아이디</span>
                <div class="likes__container">
                  <span class="likes__count">20</span>
                  <button class="likes__button">
                    <img src="../images/like.png" class="likes-img" aria-hidden="true" />
                    <img src="../images/unlike.png" class="unlikes-img hidden" aria-hidden="true" />
                  </button>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </main>

      <aside class="tags">
        <h2 class="tags__title">Tag List</h2>
        <ul class="tags__list">
          <li class="tag"><a href="" type="button">#곱창</a></li>
          <li class="tag"><a href="" type="button">#맛집</a></li>
          <li class="tag"><a href="" type="button">#강남역-맛집</a></li>
          <li class="tag"><a href="" type="button">#햄버거</a></li>
          <li class="tag"><a href="" type="button">#영화-추천</a></li>
          <li class="tag"><a href="" type="button">#아이폰</a></li>
        </ul>
      </aside>
    </div>
  </body>
</html>
