<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Review You</title>
  </head>
  <body>
    <header class="header">
      <h1 class="title">All Review You</h1>
      <img src="../images/logo.png" alt="All Review You" class="logo" />
    </header>

    <main class="main"></main>

    <aside class="aside"></aside>
  </body>
</html>
