<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="modal-container">
      <div class="modal">
        <h2 class="modal__title">회원가입</h2>
        <form class="signup__form hidden" action="" method="post">
          <fieldset>
            <legend class="a11y-hidden">회원가입 정보</legend>
            <div class="input-wrapper">
              <label class="a11y-hidden" for="id">아이디</label>
              <input type="text" id="id" name="id" placeholder="아이디를 입력해주세요" />
            </div>
            <div class="input-wrapper">
              <label class="a11y-hidden" for="password">비밀번호</label>
              <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요" />
            </div>
            <div class="input-wrapper">
              <label class="a11y-hidden" for="repeatPassword">비밀번호 확인</label>
              <input
                type="password"
                id="repeatPassword"
                name="repeatPassworda"
                placeholder="비밀번호를 한번 더 입력해주세요"
              />
            </div>
            <p class="error-message">회원가입 실패</p>
            <button type="submit" class="primary-button submit-button">회원가입</button>
          </fieldset>
        </form>

        <form class="signin__form" action="" method="post">
          <fieldset>
            <legend class="a11y-hidden">로그인 정보</legend>
            <div class="input-wrapper">
              <label class="a11y-hidden" for="id">아이디</label>
              <input type="text" id="id" name="id" placeholder="아이디를 입력해주세요" />
            </div>
            <div class="input-wrapper">
              <label class="a11y-hidden" for="password">비밀번호</label>
              <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요" />
            </div>
            <p class="error-message">로그인 실패</p>
            <button type="submit" class="primary-button submit-button">로그인</button>
          </fieldset>
        </form>
        <button class="switch-auth-button">회원가입 하러가기</button>
        <button class="cancel-button">X</button>
      </div>
    </div>
  </body>
</html>
