<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Review You</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="header__logo">
          <h1 class="a11y-hidden">All Review You</h1>
          <a href="./index.html"><img src="../images/logo.png" class="logo" aria-hidden="true" /></a>
        </div>

        <div class="header__button-group">
          <h2 class="a11y-hidden">사용자 서비스</h2>
          <a href="./search.html" class="search"><img src="../images/search.svg" alt="" /></a>
          <button class="login hidden"><img src="../images/login.svg" alt="로그인" /></button>
          <button class="logout"><img src="../images/logout.svg" alt="로그아웃" /></button>
          <button class="my-page"><img src="../images/mypage.svg" alt="마이 페이지" /></button>
          <button class="new-review"><img src="../images/newReview.svg" alt="새 리뷰 올리기" /></button>
        </div>
      </header>
    </div>
  </body>
</html>
